/* 레이아웃 */
main            { display: flex; height: 100vh; justify-content: center; align-items: center; }
#register-box   { display: flex; flex-direction: column; width: 500px; }
#title-box      { display: flex; height: 100px; justify-content: center; align-items: center; }
#content-box    { display: flex; padding: 30px 50px; flex-direction: column;}
.register-input { height: 40px; padding: 5px 10px;  margin: 10px 0px; }
#btn-register   { height: 60px; padding: 10px 20px; margin: 25px 0px 10px 0px; font-size: 20px; }

/* 스타일 */
h1 { color: #f1c40f; font-size: 50px;}
#register-box { background-color: #fff; border-radius: 5px; box-shadow: 0px 0px 20px 1px #a0a0a0;}
#title-box { background-color: #153769; border-radius: 5px 5px 0 0;}
.register-input { border: 2px solid #fff; border-bottom: 2px solid #e0e0e0; font-size: 20px; }
.register-input:focus { outline: none; border-bottom: 2px solid #f1c40f;}
#btn-register { background-color: #f1c40f; border: none; border-radius: 5px; font-size: 20px; }
#btn-register:hover { cursor: pointer;}

#warning-id { text-align: left; padding: 5px 10px; font-weight: 500; }
.warning-color { color: #dd5555; }
.pass-color { color: #22aa22; }
#warning-box { color: #dd5555; text-align: left; padding: 10px 10px; }
.warning-input { border-bottom: 2px solid #dd5555 !important;}